<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <xacro:property name="caster_wheel_radius" value="0.03"/>
    <xacro:property name="caster_wheel_thickness" value="0.01"/>
    <xacro:property name="caster_wheel_mass" value="0.01"/>
    <xacro:property name="caster_wheel_offset_x" value="0.017"/>
    <xacro:property name="caster_wheel_offset_z" value="0.035"/>

    <!-- CASTER WHEEL BASE LINK -->

    <joint name="caster_base_joint" type="fixed">
        <parent link="chassis"/>
        <child link="caster_base"/>
        <origin xyz="${caster_wheel_offset_x} 0 ${caster_wheel_offset_z}"/>
    </joint>

    <link name="caster_base">
        <visual>
            <geometry>
                <mesh filename="file:///$(find turms_description)/mesh/wheels/caster_base.stl" scale ="2 2 2"/>
                <!--sphere radius="${caster_wheel_radius}"/-->
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0"/>
            </geometry>
        </collision>
        <xacro:inertial_sphere mass="${caster_wheel_mass}" radius="${caster_wheel_radius}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    </link>

    <gazebo reference="caster_base">
        <material>Gazebo/White</material>
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <!-- CASTER WHEEL SUPPORT LINK -->

    <!--joint name="caster_support_joint" type="continuous"-->
    <joint name="caster_support_joint" type="fixed">
        <parent link="caster_base"/>
        <child link="caster_support"/>
        <origin xyz="0 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="caster_support">
        <visual>
            <origin xyz="0 0 -0.002" rpy="0 0 0" />
            <geometry>
                <mesh filename="file:///$(find turms_description)/mesh/wheels/caster_wheel_support.stl" scale ="2 2 2"/>
                <!--sphere radius="${caster_wheel_radius}"/-->
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="${caster_wheel_mass}" length="${2*caster_wheel_offset_z}" radius="${caster_wheel_thickness}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="caster_support">
        <material>Gazebo/White</material>
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <!-- CASTER WHEEL LINK -->

    <!--joint name="caster_wheel_joint" type="continuous"-->
    <joint name="caster_wheel_joint" type="fixed">
        <parent link="caster_support"/>
        <child link="caster_wheel"/>
        <origin xyz="-0.03 0 -0.04" rpy="${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>


    <link name="caster_wheel">
        <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry>
                <mesh filename="file:///$(find turms_description)/mesh/wheels/caster_wheel.stl" scale ="2 2 2"/>
                <!--sphere radius="${caster_wheel_radius}"/-->
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="${caster_wheel_radius}"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="${caster_wheel_mass}" length="${caster_wheel_thickness}" radius="${caster_wheel_radius}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="caster_wheel">
        <material>Gazebo/White</material>
        <mu1 value="1"/>
        <mu2 value=".001"/>
    </gazebo>

</robot>